<footer class="footer">
  <small>Events Project by <a href="https://twitter.com/dimich71" target="_blank">Alessandro Dimich</a></small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.quickbunch.com">News</a></li>
    </ul>
  </nav>
</footer>